.contentWrapper{
    height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.messages{
    padding-top: 20px;
    padding-left: 50px;
    overflow-y: auto;
}
.messageContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    border: 1px solid purple;
    border-radius: 15px;
    margin-bottom: 15px;
}
.sendMessageBox{
    border-top: 1px solid gray;
    display: flex;
    align-self: flex-end;
    width: 100%;
}
.inputBox{
    border:none;
    background:none;
    outline:none;
    padding:10px;


    resize: none;
    width: 90%;
    height: 70px;
    overflow-y: auto;
    font-size: large;
}
.sendButton{
    width: 10%;
}
